@import '../../Common/flexbogrid.css';
placeholder {
  color: black;
}
.countrycss {
  margin-right: 1px;
}
.countryDropdown {
  margin-top: 5px;
}

.medium-col-11 {
  flex-basis: 91.667%;
  max-width: 91.667%;
}
.medium-col-1 {
  flex-basis: 91.667%;
  max-width: 91.667%;
}
.ui.button {
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 0 !important;
  padding-bottom: 10px !important;
}

.ui.selection.dropdown {
  min-width: 15px !important;
}
.icon {
  font-size: 30px;
  margin-top: 11px !important;
}
.topnav .icon {
  display: none;
}
.topnav {
  justify-content: flex-end;
  text-align: end;
}

@media screen and (max-width: 1025px) {
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    right: 0;
    display: block;
  }
}

@media screen and (max-width: 1025px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .topnav.responsive a {
    float: right;
    display: block;
    text-align: right;
  }
  .topnav.responsive .countrycss {
    float: none;
  }

  .topnav.responsive {
    display: block;
    width: 100%;
    text-align: right;
  }
}
