.justify {
    display: flex;
    justify-content : center; 
    justify-content : space-between;
}

.content {
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

.flex > * {
    width: 200px;
  }

.one {
    flex: 2 4 auto;
}

.two {
    flex: 1 1 auto;
}

.dropdown {
    width:200px;
    font-size: 30px;
    margin-top: 20px;
    font-weight: bold;
}

select {
    background-color: rgb(55, 173, 191);
}

option {
    background-color: rgb(236, 192, 249);
    color: black;
}