@import '../../../Common/flexbogrid.css';

.imgSize {
  height: 100%;
  width: 450px;
  font-size: 1.14285714rem;
}
#countryFont {
  font-family: Lato, sans-serif;
  color: rgb(18, 20, 20);
  line-height: 27px;
  font-size: 15px;
}

.ui.list > .item a.header {
  color: #101612 !important;
}

.ui.items > .item > .image > img {
  height: 100%;
}
.ui.items > .item > .content > a.header:hover {
  color: #81a3c2;
}
.ui.items > .item > .content > a.header {
  color: #5ba4e9;
}

.ui.list > .item .header {
  font-weight: 800;
  font-size: 17px;
}
.ui.items > .item > .content > .header {
  font-weight: 900;
  font-size: 21px !important;
}
.ui.fluid.image {
  height: 500px !important;
}

.image-size {
  width: 623px;
  height: 360px !important;
}

.image {
  position: relative;
  width: 100%; /* for IE 6 */
}

.image-text {
  position: absolute;
  top: 1px;
  left: 50px;
  width: 100%;
  color: aliceblue;
}
.image-span {
  font: bold 34px/60px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}
