body {
  margin: 0;
  padding-left: 20px;
  padding-right: 15px;
  font-family: 'Gotham A', 'Gotham B', sans-serif, -apple-system, serif;
  background-color: #fff;
}

button {
  cursor: pointer;
}
