body {
  margin: 0;
  padding-left: 20px;
  padding-right: 15px;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(219, 247, 251);
  background-image: url('header.jpg');
}

button {
  cursor: pointer;
}
